{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{#<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">#}
{% endblock extra_css %}

{% block content %}


<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>О компании</h2>
                    <img src="img/pic.jpg" alt="" class="left-img" width="300">
                    <p>Наше предприятие обладает технологической возможностью поставлять теплоизолированные трубы и
                        фасонные изделия в ППМИ с наружным диаметром стальной трубы от 25 до 820 мм, гарантируя их
                        качество в строгом соответствии с сертификатами на выпускаемую продукцию.</p>
                    <p>По желанию Заказчика производится погрузка и доставка продукции до объекта.</p>
                    <p>Гарантия на выпускаемую продукцию - 10 лет, при соблюдении Заказчиком условий транспортировки,
                        хранения и эксплуатации изделий.</p>
                    <img src="img/pic.jpg" alt="" class="right-img" width="300">
                    <p>Стоимость выпускаемой продукции Вы можете уточнить у специалистов отдела продаж.</p>
                    <p>Наше предприятие обладает технологической возможностью поставлять теплоизолированные трубы и
                        фасонные изделия в ППМИ с наружным диаметром стальной трубы от 25 до 820 мм, гарантируя их
                        качество в строгом соответствии с сертификатами на выпускаемую продукцию.</p>
                    <p>По желанию Заказчика производится погрузка и доставка продукции до объекта.</p>
                    <p>Гарантия на выпускаемую продукцию - 10 лет, при соблюдении Заказчиком условий транспортировки,
                        хранения и эксплуатации изделий.</p>
                    <p>Стоимость выпускаемой продукции Вы можете уточнить у специалистов отдела продаж.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container prod-cards">
    <div class="row">
        <h2>Продукция</h2>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p1">
                    <span>Трубы</span>
                    Труба с отечественной заводской пенополимерминеральной тепловой изоляцией не уступает зарубежным
                    аналогам.
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p2">
                    <span>Отводы</span>
                    Толщина стенки отвода и стальной трубы, а также марка стали определяются проектной организацией и
                    зависят от конкретных условий эксплуатации.
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p3">
                    <span>Шаровые краны</span>
                    По согласованию с Заказчиком возможно изготовление предизолированных шаровых кранов других типов и
                    производителей.
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p4">
                    <span>АЗМ</span>
                    По согласованию с Заказчиком возможно изготовление предизолированных шаровых кранов других типов и
                    производителей.
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p5">
                    <span>Неподвижные Опоры</span>
                    Крепление может осуществляться по различным технологиям: посредством сварочного оборудования, с
                    помощью хомутов.
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p6">
                    <span>Тройники</span>
                    Толщина стенки тройника и стальной трубы, определяется проектной организацией, и зависят от
                    конкретных условий эксплуатации.
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p7">
                    <span>Подвижная опора</span>
                    Наша компания осуществляет раскрой листового металла, используя установку плазменной резки с
                    числовым программным управлением.
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="prod-card">
                <a href="#" class="prod-link p8">
                    <span>Плазменная резка</span>
                    Наша компания осуществляет раскрой листового металла, используя установку плазменной резки с
                    числовым программным управлением.
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Трубы в ППМИ</h2>
                    <img src="img/scheme.png" alt="" class="left-img">
                    <p>Труба с отечественной заводской (ППМ), пенополимерминеральной тепловой изоляцией менее популярна,
                        чем иностранная технология с трубами в пенополиуретане(ППУ) , хотя качество труб в ППМ -
                        изоляции не уступает зарубежным аналогам.</p>
                    <p>Трубы в ППМ - изоляции не требуют больших затрат, затраты на покупку оборудования во много раз
                        ниже в сравнении с аналогами - труб в пенополиуретане (ППУ). Трубы в ППМ -изоляции имеют более
                        низкую стоимость из-за заделки стыков, отсутствия наружной полиэтиленовой оболочки, что
                        позволяет вести прокладку непосредственно в лотках непроходных каналов и засыпкой грунта поверх
                        труб, что очень удобно в условиях городской застройки.</p>
                    <p>Трубы в пенополимерминеральной (ППМ) теплоизоляции имеют стабильные теплофизические показатели,
                        они надежны при любых условиях эксплуатации, независимо от типа грунтов и режима работы их
                        термостойкость составляет 150 С.</p>
                    <table class="table-striped prod-table">
                        <thead>
                        <tr>
                            <td>
                                Обозначение, марка изделия
                            </td>
                            <td>
                                Диаметр условный трубопровода, Ду
                            </td>
                            <td>
                                Диаметр наружный трубопровода, Дтр
                            </td>
                            <td>
                                Диаметр изоляции, Диз
                            </td>
                            <td>
                                Толщина изоляции, ?из
                            </td>
                            <td>
                                Масса 1пм. изоляции, кг
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                ППМ-25-43,8
                            </td>
                            <td>
                                25
                            </td>
                            <td>
                                33,5
                            </td>
                            <td>
                                121
                            </td>
                            <td>
                                43,75
                            </td>
                            <td>
                                3,2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-32-39
                            </td>
                            <td>
                                32
                            </td>
                            <td>
                                42,3
                            </td>
                            <td>
                                121
                            </td>
                            <td>
                                39,35
                            </td>
                            <td>
                                3,0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-40-36,5
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                48
                            </td>
                            <td>
                                121
                            </td>
                            <td>
                                36,5
                            </td>
                            <td>
                                2,9
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-50-35,6
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                57
                            </td>
                            <td>
                                150
                            </td>
                            <td>
                                46,5
                            </td>
                            <td>
                                4,5
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-65-37
                            </td>
                            <td>
                                65
                            </td>
                            <td>
                                76
                            </td>
                            <td>
                                150
                            </td>
                            <td>
                                37,0
                            </td>
                            <td>
                                3,9
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-80-45,5
                            </td>
                            <td>
                                80
                            </td>
                            <td>
                                89
                            </td>
                            <td>
                                180
                            </td>
                            <td>
                                45,5
                            </td>
                            <td>
                                5,8
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-100-36
                            </td>
                            <td>
                                100
                            </td>
                            <td>
                                108
                            </td>
                            <td>
                                180
                            </td>
                            <td>
                                36,0
                            </td>
                            <td>
                                4,9
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-125-36
                            </td>
                            <td>
                                125
                            </td>
                            <td>
                                133
                            </td>
                            <td>
                                205
                            </td>
                            <td>
                                36,0
                            </td>
                            <td>
                                11,4
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-150-49
                            </td>
                            <td>
                                150
                            </td>
                            <td>
                                159
                            </td>
                            <td>
                                257
                            </td>
                            <td>
                                49,0
                            </td>
                            <td>
                                17,4
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-200-45
                            </td>
                            <td>
                                200
                            </td>
                            <td>
                                219
                            </td>
                            <td>
                                309
                            </td>
                            <td>
                                45,0
                            </td>
                            <td>
                                11,2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-250-43
                            </td>
                            <td>
                                250
                            </td>
                            <td>
                                273
                            </td>
                            <td>
                                359
                            </td>
                            <td>
                                43,0
                            </td>
                            <td>
                                12,8
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-300-43,5
                            </td>
                            <td>
                                300
                            </td>
                            <td>
                                325
                            </td>
                            <td>
                                412
                            </td>
                            <td>
                                43,5
                            </td>
                            <td>
                                15,1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-350-42,5
                            </td>
                            <td>
                                350
                            </td>
                            <td>
                                377
                            </td>
                            <td>
                                462
                            </td>
                            <td>
                                42,5
                            </td>
                            <td>
                                16,8
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-350-68,5
                            </td>
                            <td>
                                350
                            </td>
                            <td>
                                377
                            </td>
                            <td>
                                514
                            </td>
                            <td>
                                68,5
                            </td>
                            <td>
                                28,7
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-400-44
                            </td>
                            <td>
                                400
                            </td>
                            <td>
                                426
                            </td>
                            <td>
                                514
                            </td>
                            <td>
                                44,0
                            </td>
                            <td>
                                32,7
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-500-60
                            </td>
                            <td>
                                500
                            </td>
                            <td>
                                530
                            </td>
                            <td>
                                650
                            </td>
                            <td>
                                60,0
                            </td>
                            <td>
                                33,3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-500-70
                            </td>
                            <td>
                                500
                            </td>
                            <td>
                                530
                            </td>
                            <td>
                                670
                            </td>
                            <td>
                                70,0
                            </td>
                            <td>
                                39,6
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-600-60
                            </td>
                            <td>
                                600
                            </td>
                            <td>
                                630
                            </td>
                            <td>
                                750
                            </td>
                            <td>
                                60,0
                            </td>
                            <td>
                                39,0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-700-70
                            </td>
                            <td>
                                700
                            </td>
                            <td>
                                720
                            </td>
                            <td>
                                860
                            </td>
                            <td>
                                70,0
                            </td>
                            <td>
                                52,1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ППМ-800-88
                            </td>
                            <td>
                                800
                            </td>
                            <td>
                                820
                            </td>
                            <td>
                                960
                            </td>
                            <td>
                                88,0
                            </td>
                            <td>
                                75,3
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{#{% include 'home/welcome_page.html' %}#}

{% endblock content %}