{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox-thumbs.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container-fluid content-wrapper contacts">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Библиотека</h2>
                    <div class="library-wrapper margin-bottom-50 row">
                        <div class="col-md-12">
                            <h4>Техническая документация:</h4>
                            <a href="#" class="file-link file-zip">РД 10-249-98 нормы расчета на прочность стационарных
                                котлов и трубопроводов пара и горячей воды</a>
                            <a href="#" class="file-link file-zip">РД 10-400-01 нормы расчета на прочность трубопроводов
                                тепловых сетей</a>
                            <a href="#" class="file-link file-pdf">РД 10-249-98 нормы расчета на прочность стационарных
                                котлов и трубопроводов пара и горячей воды</a>
                            <a href="#" class="file-link file-pdf">РД 10-400-01 нормы расчета на прочность трубопроводов
                                тепловых сетей</a>
                            <a href="#" class="file-link file-txt">РД 10-249-98 нормы расчета на прочность стационарных
                                котлов и трубопроводов пара и горячей воды</a>
                            <a href="#" class="file-link file-txt">РД 10-400-01 нормы расчета на прочность трубопроводов
                                тепловых сетей</a>
                            <a href="#" class="file-link file-xls">РД 10-249-98 нормы расчета на прочность стационарных
                                котлов и трубопроводов пара и горячей воды</a>
                            <a href="#" class="file-link file-xls">РД 10-400-01 нормы расчета на прочность трубопроводов
                                тепловых сетей</a>
                        </div>
                    </div>
                    <div class="articles-wrapper row">
                        <div class="col-md-12"><h4>Техническая документация:</h4></div>
                        <div class="col-md-6">
                            <div class="article-item">
                                <div class="article-icon"><span class="file-icon file-txt"></span></div>
                                <div class="article-content">
                                    <a href="#">Технология производства труб в ППМ изоляции</a>
                                    <p>Производство труб в ППМ изоляции включает в себя несколько
                                        участков. Линия для заливки труб ППМ композицией состоит из набора
                                        нестандартного оборудования. Заливка производится в определенной
                                        последовательности. Время, требуемое на выполнение всех операций по заливке
                                        трубы, составляет 50-60 минут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="article-item">
                                <div class="article-icon"><span class="file-icon file-txt"></span></div>
                                <div class="article-content">
                                    <a href="#">Технология производства труб в ППМ изоляции</a>
                                    <p>Производство труб в ППМ изоляции включает в себя несколько
                                        участков. Линия для заливки труб ППМ композицией состоит из набора
                                        нестандартного оборудования. Заливка производится в определенной
                                        последовательности. Время, требуемое на выполнение всех операций по заливке
                                        трубы, составляет 50-60 минут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="article-item">
                                <div class="article-icon"><span class="file-icon file-txt"></span></div>
                                <div class="article-content">
                                    <a href="#">Технология производства труб в ППМ изоляции</a>
                                    <p>Производство труб в ППМ изоляции включает в себя несколько
                                        участков. Линия для заливки труб ППМ композицией состоит из набора
                                        нестандартного оборудования. Заливка производится в определенной
                                        последовательности. Время, требуемое на выполнение всех операций по заливке
                                        трубы, составляет 50-60 минут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="article-item">
                                <div class="article-icon"><span class="file-icon file-txt"></span></div>
                                <div class="article-content">
                                    <a href="#">Технология производства труб в ППМ изоляции</a>
                                    <p>Производство труб в ППМ изоляции включает в себя несколько
                                        участков. Линия для заливки труб ППМ композицией состоит из набора
                                        нестандартного оборудования. Заливка производится в определенной
                                        последовательности. Время, требуемое на выполнение всех операций по заливке
                                        трубы, составляет 50-60 минут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="article-item">
                                <div class="article-icon"><span class="file-icon file-txt"></span></div>
                                <div class="article-content">
                                    <a href="#">Технология производства труб в ППМ изоляции</a>
                                    <p>Производство труб в ППМ изоляции включает в себя несколько
                                        участков. Линия для заливки труб ППМ композицией состоит из набора
                                        нестандартного оборудования. Заливка производится в определенной
                                        последовательности. Время, требуемое на выполнение всех операций по заливке
                                        трубы, составляет 50-60 минут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="article-item">
                                <div class="article-icon"><span class="file-icon file-txt"></span></div>
                                <div class="article-content">
                                    <a href="#">Технология производства труб в ППМ изоляции</a>
                                    <p>Производство труб в ППМ изоляции включает в себя несколько
                                        участков. Линия для заливки труб ППМ композицией состоит из набора
                                        нестандартного оборудования. Заливка производится в определенной
                                        последовательности. Время, требуемое на выполнение всех операций по заливке
                                        трубы, составляет 50-60 минут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="articles-button">Больше статей</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid news-wrapper margin-bottom-50">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p class="h2">Календарь мероприятий</p>
                    <div class="news-item">
                        <div class="news-date">
                            <div class="day">11</div>
                            <div class="month">ноябрь</div>
                        </div>
                        <div class="news-content"><a href="#">Выставка "СТИМэкспо" г. Ростов-на-Дону</a>
                            <p>С 16 по 19 марта в Выставочном Центре "ВертолЭкспо" г. Ростов-на-Дону будет проходить
                                выставка "СТИМэкспо: Инженерные решения".</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-date">
                            <div class="day">16</div>
                            <div class="month">марта</div>
                        </div>
                        <div class="news-content"><a href="#">Выставка "СТИМэкспо" г. Ростов-на-Дону</a>
                            <p>ООО НПП «Пенополимер» приняло участие в ХIII международной конференции «ТЕПЛО РОССИИ»,
                                которая состоялась 11-12 декабря в отеле «Melior Greenwood».</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-date">
                            <div class="day">29</div>
                            <div class="month">сентября</div>
                        </div>
                        <div class="news-content"><a href="#">Новый видеоролик нашей компании</a>
                            <p>Уважаемые клиенты, ООО НПП "Пенополимер" представляет новый видеоролик нашей компании
                                посвященный обучению по изоляции участков сварных стыков на трубопроводах в
                                пенополимерминеральной изоляции.</p>
                        </div>
                    </div>
                    <a href="#" class="news-button">Все мероприятия</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="h2">Новости</p>
                    <div class="news-item">
                        <div class="news-date">
                            <div class="day">11</div>
                            <div class="month">ноябрь</div>
                        </div>
                        <div class="news-content"><a href="#">Выставка "СТИМэкспо" г. Ростов-на-Дону</a>
                            <p>С 16 по 19 марта в Выставочном Центре "ВертолЭкспо" г. Ростов-на-Дону будет проходить
                                выставка "СТИМэкспо: Инженерные решения".</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-date">
                            <div class="day">16</div>
                            <div class="month">марта</div>
                        </div>
                        <div class="news-content"><a href="#">ГОСТ-Р 56227-2014 «Трубы и фасонные изделия стальные в
                            пенополимерминеральной изоляции»</a>
                            <p>Уважаемые клиенты, мы рады Вам сообщить, что с 1 сентября 2015 года в силу вступил
                                Государственный стандарт (ГОСТ) Р 56227-2014 – «Трубы и фасонные изделия стальные в
                                пенополимерминеральной изоляции.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-date">
                            <div class="day">29</div>
                            <div class="month">сентября</div>
                        </div>
                        <div class="news-content"><a href="#">Производство трубопроводов в ППМ изоляции</a>
                            <p>Уважаемые клиенты, ООО НПП "Пенополимер" представляет новый видеоролик нашей компании
                                посвященный обучению по изоляции участков сварных стыков на трубопроводах в
                                пенополимерминеральной изоляции.</p>
                        </div>
                    </div>
                    <a href="#" class="news-button">Все новости</a>
                </div>
            </div>
        </div>
    </div>
</div>


{#{% include 'home/welcome_page.html' %}#}

{% endblock content %}
